@media screen and (min-width: 768px) {
  .slide {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
  }

  .slide:nth-child(1) {
    z-index: 50;
  }

  .slide:nth-child(2) {
    z-index: 30;
    transform: translate3d(-12%, 0, 0) scale3d(0.9, 0.9, 1);
  }

  .slide:nth-child(3) {
    z-index: 20;
    transform: translate3d(-24%, 0, 0) scale3d(0.8, 0.8, 1);
  }

  .slide:nth-child(4) {
    z-index: 10;
    transform: translate3d(-36%, 0, 0) scale3d(0.7, 0.7, 1);
  }
}
