@media screen and (min-width: 768px) {
  /* Stack projects on top of each other */
  .slide {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
  }

  .slide:nth-child(1) {
    z-index: 50;
  }

  .slide:nth-child(2) {
    z-index: 30;
    transform: translate3d(-12%, 0, 0) scale3d(0.9, 0.9, 1);
  }

  .slide:nth-child(3) {
    z-index: 20;
    transform: translate3d(-24%, 0, 0) scale3d(0.8, 0.8, 1);
  }

  .slide:nth-child(4) {
    z-index: 10;
    transform: translate3d(-36%, 0, 0) scale3d(0.7, 0.7, 1);
  }

  /* Style the desktop navigation menu and its hover styles */
  .project::after {
    content: '';
    width: 5.5rem;
    @apply absolute bg-gray-500 -left-24 bottom-2 z-50 h-px scale-0 transition transform-gpu origin-right ease-out duration-200;
  }

  .projectActive {
    @apply relative;
  }

  /* When the project becomes selected, show the line */
  .projectActive::after {
    @apply scale-100 transform-gpu;
  }
}
